input[type="text"].errorField, .datepicker.errorField {
  border: 1.5px solid #fe0000;
}

.overlay-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #00000083;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.overlay-background.active {
  animation: fadeIn 0.5s ease;
}

.overlay-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: black;
  border-radius: 20px;
  max-width: 400px;
  position: relative;
  align-items: center;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.saveButton {
  padding: 3px 5px;
  font-size: 14px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.overlay-background.active .overlay-form {
  animation: jump 0.5s ease;
}

.overlay-form > * {
  margin: 2px;
}

.addButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0000;
  color: #ffffff; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px;
  border-radius: 5px; 
  cursor: pointer;
}

.deleteButton {
  padding: 3px 5px;
  font-size: 14px;
  text-decoration: none;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.deleteButton {
  margin-right: 10px;
}

.deleteButton:hover {
  background-color: #ff0000;
  color: white; 
}


.closeButton {
  right: 2px;
  top: 0;
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  font-size: 2rem;
}

.selects {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formcomment {
  height: 75px;
}

@keyframes jump {
  from {
    scale: 0.3;
  }
  to {
    scale: 1;
  }
}