.typebox {
    padding: 10px;
    background-color: black;
    width: 20%;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    
}

.typebox > * {
    margin: 10px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
